*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial;
}
:root{
    --font1: #2e42b4;
    --font2: #3654f9;
    --font3: white;
    --font4: black;
    --bg1: #2e42b4;
    --bg2: #3654f9;
    --bg3: black;
    --bg4: #f8f8f8;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}
header{
    width: 100%;
    height: 20vh;
}
header .Logo_Name{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
header .Logo_Name div:nth-child(1){
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
    height: 100%;
    gap: 5px;
}
header .Logo_Name div:nth-child(1) img{
    width: 60px;
    height: 60px;
}
header .Logo_Name div:nth-child(1) h1{
    font-size: large;
    font-weight: 600;
    color: var(--bg1);
}
header .Logo_Name div:nth-child(2){
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
header .Logo_Name div:nth-child(2) a{
    width: 35%;
    height: 60%;
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
}
header .Logo_Name div:nth-child(2) a button{
    border: none;
    background-color: var(--bg1);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: white;
    font-size: smaller;
    font-weight: 200;
}
header .Logo_Name div:nth-child(2) a button:hover{
    background-color: var(--bg2);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
header nav{
    width: 100%;
    height: 10vh;
    background-color: var(--bg1);
    display: block;
    /* justify-content: center;
    align-items: center; */
    color: white;
    padding: 0px 20px;
}
header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
header nav ul li{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: small;
    font-weight: 300;
}
header nav ul li a:hover{
    background-color: var(--bg2);
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 25px;
}
main .About_Section{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    /* background-color: violet; */
    margin: 10px 0px;
}
main .About_Section h1{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
main .About_Section div{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .About_Section div div:nth-child(1){
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: green; */
}
main .About_Section div div:nth-child(1) h1{
    height: auto;
    font-size: x-large;
    font-weight: 600;
}
main .About_Section div div:nth-child(1) p{
    text-align: center;
    font-size: medium;
    font-weight: 400;
}
main .About_Section div div:nth-child(1) a{
    width: 50%;
    height: 13%;
    text-decoration: none;
}
main .About_Section div div:nth-child(1) a button{
    border: none;
    background-color: var(--bg1);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    color: var(--font3);
    font-size: smaller;
    font-weight: 400;
}
main .About_Section div div:nth-child(1) a button:hover{
    cursor: pointer;
    background-color: var(--bg2);
    transition: all ease-in-out 0.3s;
}
main .About_Section div div:nth-child(2){
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
}
main .About_Section div div:nth-child(2) img{
    width: 58%;
    height: 100%;
    border-radius: 20px;
    box-shadow: var(--shadow);
}
main .Class_Section{
    width: 100%;
    height: auto;
    background-color: var(--bg4);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 25px;
}
main .Class_Section h1{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .Class_Section div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .Class_Section div .Class_Box{
    width: 25%;
    height: auto;
    box-shadow: var(--shadow);
    background-color: var(--bg1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    padding: 10px 10px;
    gap: 10px;
}
main .Class_Section div .Class_Box div:nth-child(1){
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .Class_Section div .Class_Box div:nth-child(1) img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: var(--shadow);
}
main .Class_Section div .Class_Box div:nth-child(2){
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--font3);
    gap: 25px;
}
main .Class_Section div .Class_Box div:nth-child(2) div:nth-child(1){
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
main .Class_Section div .Class_Box div:nth-child(2) div:nth-child(1) h1{
    font-size: large;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
}
main .Class_Section div .Class_Box div:nth-child(2) div:nth-child(1) p{
    font-size: smaller;
    text-align: left;
    line-height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
main .Class_Section div .Class_Box div:nth-child(2) div{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: flex-start;
}
main .Class_Section div .Class_Box div:nth-child(2) div h2{
    font-size: small;
    font-weight: 600;
}
main .Class_Section div .Class_Box div:nth-child(2) div h2 span{
    font-size: small;
    font-weight: 500;
}
main .Class_Section div .Class_Box div:nth-child(2) div:nth-child(2){
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
main .Class_Section div .Class_Box div:nth-child(2) div:nth-child(2) a{
    width: 100%;
    height: 35px;
    text-decoration: none;
}
main .Class_Section div .Class_Box div:nth-child(2) div:nth-child(2) a button{
    border: 1px solid var(--bg4);
    background-color: inherit;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: var(--font3);
    font-size: smaller;
    font-weight: 300;
}
main .Class_Section div .Class_Box div:nth-child(2) div:nth-child(2) a button:hover{
    cursor: pointer;
    border: none;
    background-color: var(--bg2);
    transition: all ease-in-out 0.3s;
}
main .Class_Section .SeeAllClass{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .Class_Section .SeeAllClass a{
    width: 30%;
    height: 60%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .Class_Section .SeeAllClass a button{
    border: none;
    background-color: var(--bg1);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: var(--font3);
    font-size: smaller;
    font-weight: 300;
}
main .Class_Section .SeeAllClass a button:hover{
    cursor: pointer;
    background-color: var(--bg2);
    transition: all ease-in-out 0.3s;
}
main .Testimony_Section{
    width: 100%;
    height: auto;
    background-color: var(--bg4);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 25px;
    /* background-color: #3654f9; */
}
main .Testimony_Section h1{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
main .Testimony_Section .Testimony_Images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    border: 2px solid var(--bg1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow);
}
main .Testimony_Section .Testimony_Images img{
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: var(--shadow);
}
main .Testimony_Section .SeeAllTestimonies{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .Testimony_Section .SeeAllTestimonies a{
    width: auto;
    height: 60%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
main .Testimony_Section .SeeAllTestimonies a button{
    border: none;
    background-color: var(--bg1);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: var(--font3);
    font-size: smaller;
    font-weight: 300;
    padding: 0px 20px;
}
main .Testimony_Section .SeeAllTestimonies a button:hover{
    cursor: pointer;
    background-color: var(--bg2);
    transition: all ease-in-out 0.3s;
}
footer{
    width: 100%;
    height: 12vh;
    background-color: var(--bg3);
    color: var(--font3);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    padding: 10px 20px;
}
footer div:nth-child(1){
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
footer div:nth-child(1) a{
    width: 30%;
    height: 60%;
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
}
footer div:nth-child(1) a button:hover{
    cursor: pointer;
    background-color: inherit;
    transition: all ease-in-out 0.4s;
    border: 1px solid var(--bg4);
    color: var(--font3);
}
footer div:nth-child(1) a button{
    border: none;
    background-color: var(--bg4);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: var(--font4);
    font-size: smaller;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div:nth-child(2){
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3px;
}
footer div:nth-child(2) p{
    font-size: x-small;
    font-weight: 400;
}
@media screen and (max-width: 1000px){
    header .Logo_Name{
        /* display: block; */
        height: 15vh;
    }
    header .Logo_Name div:nth-child(1){
        justify-content: center;
        align-items: center;
    }
    header .Logo_Name div:nth-child(2){
        display: none;
    }
    header nav, header nav ul{
        height: 20vh;
    }
    header nav ul{
        flex-wrap: wrap;
    }
    header nav ul li{
        width: 30%;
        height: 30%;
    }
    header nav ul li a:hover{
        height: 100%;
    }
    main .About_Section{
        height: auto;
        gap: 10px;
    }
    main .About_Section div{
        height: auto;
        flex-direction: column-reverse;
        gap: 20px;
    }
    main .About_Section div div:nth-child(1), main .About_Section div div:nth-child(2){
        height: auto;
    }
    main .About_Section div div:nth-child(2) img{
        width: 70%;
        height: 60%;
    }
    main .About_Section div div:nth-child(1) p{
        font-size: small;
        line-height: 20px;
    }
    main .About_Section div div:nth-child(1) a, main .About_Section div div:nth-child(1) a button{
        height: 45px;
        width: auto;
        padding: 0% 25px;
    }
    main .Class_Section div{
        flex-direction: column;
        gap: 20px;
    }
    main .Class_Section div .Class_Box{
        width: 95%;
    }
    main .Class_Section .SeeAllClass a{
        width: 70%;
        height: 70%;
    }
    footer{
        flex-direction: column;
        height: 30vh;
        align-items: start;
    }
    footer div:nth-child(1), footer div:nth-child(1) a{
        width: 100%;
    }
}