*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial;
}
:root{
    --font1: #2e42b4;
    --font2: #3654f9;
    --bg1: #2e42b4;
    --bg2: #3654f9;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body{
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 20px;
}
body div:nth-child(1){
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
body div:nth-child(1) img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: var(--shadow);
}
body div:nth-child(2){
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
body div:nth-child(2) h1{
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    color: var(--font1);
    line-height: 35px;
}
body div:nth-child(2) p{
    font-size: large;
    font-weight: 500;
    text-align: center;
    color: var(--font1);
    line-height: 25px;
}
body div:nth-child(2) a{
    text-decoration: none;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
}
body div:nth-child(2) a button{
    background-color: var(--bg1);
    border: none;
    border-radius: 25px;
    color: #f8f8f8;
    width: inherit;
    height: 100%;
    width: 50%;
    font-size: medium;
    font-weight: 500;
    text-align: center;
}
body div:nth-child(2) a button:hover{
    background-color: var(--bg2);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
@media screen and (max-width: 1000px){
    body{
        flex-direction: column;
        gap: 30px;
        max-height: 300vh;
    }
    body div:nth-child(1), body div:nth-child(2){
        width: 100%;
        height: 50vh;
    }
}